    {% load static %}
    <footer class="footer mt-5">
        <div class="container">
            <div class="row">
            <div class="col-sm-3 white-text">
                <h4 class="title"> G-capital Grants </h4>
                

                <ul class="mt-3">

                   <i class= "fas fa-map-marker-alt"> parklands Avenue
                       
                     </i>
                   
                </ul>
                <ul class="mx-3">
                    Nairobi, kenya

                </ul>

                <ul>
                    <i class="far fa-envelope-open"></i> victormisiko.vm@gmail.com

                </ul>
                <ul>
                    <i class="far fa-envelope-open"></i> +254708591339

                </ul>
                
                
                
                </div>
            <div class="col-sm-3">
                <h4 class="title">Links</h4>
                <span class="acount-icon">          
                <a href="/home/"><i class="fa fa-heart" aria-hidden="true"></i> Home</a>
                <a href="/about_us/"><i class="fa fa-cart-plus" aria-hidden="true"></i> About Us</a>
                <a href="/contact_us/"><i class="fa fa-user" aria-hidden="true"></i> Contact_us</a>
                        
              </span>
                </div>
           
                <div class="col-sm-3">
                    <h4 class="title">Navigate</h4>
                    <span class="acount-icon">          
                    <a href="/home/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    <a href="/about_us/"><i class="fa fa-cart-plus" aria-hidden="true"></i> About Us</a>
                    <a href="/contact_us/"><i class="fa fa-user" aria-hidden="true"></i> Contact_us</a>
                            
                  </span>
                    </div>
            <div class="col-sm-3">
                <h4 class="title">Payment Methods</h4>
                <p>you can pay using Mpesa</p>

                    <div class="">
                        <img src="{% static 'img/mpesa4.jpg'%}" alt="">
                        
                    </div>

                </div>
            </div>
            <hr>
            
            <div class="row text-center"> copyright Gcapital Grants @ 2020. All rights reserved </div>
            
            
        </footer>